body{
    margin:1px;
    padding:1px;
    background-color: burlywood;
    
}

        /* Start of Header bar */


header{
    position:fixed;
    margin: 2px;
    width:96.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(73, 73, 134);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
    /* border: 1px solid black; */
    z-index: 1000;
   
}

header ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo{
    background-color: bisque;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 2px solid red;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    color: aliceblue;
    display:inline-block;
    /* margin-left:30px; */
}

.left-group{
    display: flex;
    align-items: center;
    gap: 15px;
}

.setting-img{
    border: 2px solid bisque;
    width:40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 30px;
    /* float: right; */
}

header ul li{
    list-style: none;
    margin: 0 10px;
}


        /* Start of Navigarion bar */


nav{
    position: sticky;
    top:100px; 
    left: 3px;
    width: 100%;
    height:60px;
    background-color:burlywood;  
    z-index: 988;
    
}

#index-nav-ul{
    margin-top:4px;
    margin-left:2px;
    padding:5px;
    color: cadetblue;
    display: inline-block;
    list-style-type:none;
}

#index-nav-li{
    float: left; 
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 10px;  
}

nav ul li a{
    text-decoration:none;
    font-size:20.5px;
    padding:10px; 
}

.nav-link:hover,
#link:hover{
    border: 3px solid white;
    background-color: blue;
    color: burlywood;    
}

.active {
    background-color: rgb(173, 198, 135);
    color: blue;
}

        /* Start of Main bar */

main{
    background-image: url(../Images/background-img.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    min-height:100vh;
    margin-top:100px;
    padding-top: 10px;
    padding-bottom:100px;
    border:3px solid burlywood;    
}

.welcome{
    margin-top: 0;
    color: whitesmoke;
    font-size:5rem;
}

        /* Text fonts and Sizes */


.texth1{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.texth2{
    font-size: 30px;
    color: #FFB5B5;
    font-weight: bold;
}

.texth3{
    font-size: 60px;
    font-family: sans-serif;
    
}

.textp{
    font-size: 20px;
    color: white;
    font-weight: bold;
} 

.textspan{
    font-size: 26px; 
    color:red; 
    font-weight: bold;
}

.para{
    margin-top:0;
    padding: 10px;
    font-size:20px;
    color: white;
    font-weight: bold;
}

.para2{
    margin-top:0;
    padding: 10px;
    font-size:20px;
    color: black;
    font-weight: bold;
}

.para3{
    margin-top:0;
    padding: 10px;
    font-size:20px;
    color: #FFB5B5;
    font-weight: bold;
}

.para4{
    font-size:20px;
    color: blueviolet;
    font-weight: bold;  
    border: 2px solid red;
    background-color: burlywood;
    padding: 4px;
    text-decoration: none;

}
        /* All divition templates size and placement */

#index-video{
    position: relative;
    z-index: 1;            /* ensures text is above video */
    text-align: center;
    margin-top: 50px;
    margin-left: 180px;
    width: 850px;
    height: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color:rgba(238, 232, 232, 0.4);
    background-blend-mode: darken;  

}

#bg-video{
    position: sticky;      /*  stays in place while scrolling */
    margin-top: 0px;
    margin-left: 8px;
    width: 384px;
    height: 160px;
    border-radius: 20px;
    z-index: -1; 
}

#index-car{
    position: relative;
    width: 500px;
    height: 350px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 30px;
    background-color:  rgba(255, 160, 122, 0.2);
    background-image: url(../Images/car-services.jpeg);
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-bike{
    position: relative;
    width: 500px;
    height: 350px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 30px;
    background-color:  rgba(255, 160, 122, 0.2);
    background-image: url(../Images/bike-services.png);
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-electric{
    position: relative;
    width: 500px;
    height: 350px;
    text-align: center;
    margin-top: -750px;
    margin-left: 700px;
    border-radius: 30px;
    background-color:  rgba(255, 160, 122, 0.2);
    background-image: url(../Images/electric-services.png);
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-emcp{
    position: relative;
    width: 500px;
    height: 350px;
    text-align: center;
    margin-top: 50px;
    margin-left: 700px;
    border-radius: 30px;
    background-color:  rgba(255, 160, 122, 0.2);
    background-image: url(../Images/emcp-services.png);
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services-card1{
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    padding:40px;
    width: 60%;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(125, 93, 81, 0.4);
    background-blend-mode: darken;
}

.services-card2{
    text-align: center;
    margin-top: 20px;
    margin-left: 200px;
    padding:10px;
    width: 40%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(125, 93, 81, 0.9);
    background-blend-mode: darken;
}

.services-card3{
    text-align: center;
    margin-top: 20px;
    margin-left: 515px;
    padding:10px;
    width: 40%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(125, 93, 81, 0.4);
    background-blend-mode: darken;
}   

#services-card4{
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    padding:40px;
    width: 60%;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(125, 93, 81, 0.9);
    background-blend-mode: darken;
} 

#contact-image{
    position: relative;
    width: 800px;
    height: 800px;
    text-align: center;
    margin-top: 50px;
    margin-left: 240px;
    border-radius: 30px;
    background-image: url(../Images/templet.jpeg);
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: black;
    font-weight: bolder;
    
}

.contact-info{
    font-size: 20px; 
    font-family: sans-serif;
    line-height: 1.6;
    text-align: left;
}

.contact-info h2{
    font-size: 28px;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p strong{
    color: red;
}


        /* Start of Footer bar  */

footer{
    width: 100%;    
    height: 100px;
    background-color: rgb(55, 31, 2);
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    border:2px solid black;
    margin-bottom: 0px;
    /* margin-top:1200px; */
    border-radius:0 0 20px 20px;
    font-size: 1rem;
    
} 
